* {
  color: white;
  background: black;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Nunito", sans-serif;
}
#video {
  /* -webkit-filter: grayscale(100%); */
  /* filter: blur(20px); */
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  border: 2px solid black;
  border-radius: 20px;
}
header > h1 {
  font-size: 50px;
  font-weight: 1000;
  margin-top: 20px;
}
.container {
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px auto;
  background: #2f2f2f;
  border-radius: 20px;
  padding: 20px;
}
button,
input[type="file"],
input[type="checkbox"] {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #808080;
  margin: 0 0.2em 0.2em 0;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #808080;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #2f2f2f;
  text-align: center;
  transition: all 0.12s;
}

button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  transition: 500ms;
  cursor: pointer;
}

button:active {
  position: relative;
  top: 1px;
}

.container h3 {
  margin-left: 10px;
  background: inherit;
}
.bg-player {
  display: flex;
  background: inherit;
  margin: 10px;
}

.player {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: inherit;
}

.videoInfo {
  display: flex;
  background: inherit;
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
}

.btnsVideo {
  display: flex;
  background: inherit;
  flex-direction: column;
  margin-left: 10px;
}

.btnsVideo > p {
  background: inherit;
  margin-bottom: 2px;
}

.btnsVideoIntern {
  background: inherit;
}

.canvas {
  margin: 10px;
  flex-wrap: wrap;
  background: inherit;
}

#imgs {
  margin: 10px;
  flex-wrap: wrap;
  background: inherit;
}

#imgs img {
  margin: 0 1px;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px 0;
  background: inherit;
}

.subtitle > label,
input {
  background: inherit;
}
img {
  margin: 10px 0;
  width: 150px;
  height: 150px;
  background: inherit;
}

.listVideos {
  margin: 10px 0 0 40px;
  background: inherit;
}

a img:hover {
  transform: scale(1.15);
}
.listVideos > h2 {
  background: inherit;
}

.dinamic {
  background: inherit;
  display: flex;
  margin: 0 0 5px 5px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.btnsEffects {
  display: flex;
  background: inherit;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 10px 10px;
}

.btnsEffects button:first-child {
  margin: 0 10px;
}

.dinamic .summary {
  margin: 10px;
  display: flex;
  background: inherit;
  flex-direction: column;
}
